.footer-label {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-weight: 500;
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
  }
 