.gradient-bg {
  background: linear-gradient(160.29deg,
      rgba(0, 65, 106, 1) 11.057692021131516%,
      rgba(0, 65, 106, 1) 26.139649748802185%,
      rgba(0, 65, 106, 0.55) 100%);
  border-radius: 22px;
  width: 350px;
  height: 500px;
  /* position: absolute; */
  left: 340px;
  top: 32px;
  box-shadow: -15px 11px 4px 0px rgba(105, 109, 103, 0.25);
}

input {
  background: rgba(241, 248, 237, 0.56);
}

input:focus {
  background: rgba(241, 248, 237, 0.56);
  outline: none;
}

.btn-bg {
  background: #bcbdc7;
  border-radius: 6px;
  width: 30%;
}

/* Styles for invalid feedback */
.invalid-feedback {
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

/* Styles for invalid input fields */
.is-invalid {
  border-color: #dc3545 !important;
}

.is-invalid:focus {
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25) !important;
}

/* Customize alert style */
.alert-danger {
  background-color: transparent;
  color: #dc3545;
  border: none;
  padding: 0;
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

.mediaForm{

}

@media only screen and (max-width: 500px) {
  .mediaForm {
    width: auto;
  }
  .btnGroup{
    width: 50%;
  }
}