/* You can add global styles to this file, and also import other style files */

/* @import 'ngx-toastr/toastr.css'; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(
        120deg,
        rgb(219, 227, 234) 0%,
        rgb(171, 198, 222) 50%,
        rgb(148, 175, 197) 100%
    );
    height: auto;
    position: relative;
    /* overflow: hidden; */
}
/* html, body { height: 100%; } */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }